<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RegistroDeCompetencia2019</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>
<body class="uicolorgreen">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow text-center uicolorsilver">
            <div class="container">
                <div class="row mx-0">
                    <div class="col-lg-3">
                        <img src="~/images/logos/MARCA INTER.png" class="layoutlogo w-auto" alt="...">
                    </div>

                    <div class="col-lg-6 d-none d-lg-block">
                        <h2 class="mx-auto">Registro Competencia Ideas de Negocio</h1>
                    </div>

                    <div class="col-lg-3">
                        <img src="~/images/logos/LOGO-INTERemprendeWEB.png" class="layoutlogo w-auto" alt="...">
                    </div>

                    <div class="col-lg-6 d-lg-none">
                        <h2 class="mx-auto">Registro Competencia Ideas de Negocio</h1>
                    </div>
                </div> 
            </div>
        </nav>
    </header>
    <div class="container uicoloryellow">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer uicolorsilver">
        <div class="container">
            &copy; 2019 - RegistroDeCompetencia2019
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
