@model RegistroDeCompetencia2019.ViewModels.CreateHomeVM

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Create.css" />

<div class="uicoloryellow">
  <!-- Images -->
  <div class="row p-3">
    <div class="col-1 d-none d-md-block"></div>

    <div class="col-md-4 col-6 my-auto">
      <img src="~/images/logos/logo-coca-cola-actualversion2WEB.png" class="images w-auto" alt="...">
    </div>

    <div class="col-sm-2 d-none d-md-block"></div>

    <div class="col-md-4 col-6 my-auto">
      <img src="~/images/logos/logo-coca-cola-actual.png" class="images w-auto" alt="...">
    </div>

    <div class="col-1 d-none d-md-block"></div>
  </div>
</div>

<div class="text-center mt-4">
    <!-- Welcome Text -->
    <p class="text-center">
      Bienvenidos al registro de la competencia de ideas de negocio Inter Tiger Venture Competition 2020. <br/>
      Favor de completar los encasillados y al final seleccionar el botón de REGISTRAR.  
    </p>
</div>

<form asp-controller="Home" asp-action="Create" method="POST">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>

  <div class="form-row">

    <!-- Estudiante Id -->
    <div class="form-group col-md-6">
      <label asp-for="Estudiante.Id" class="control-label"></label>
      <input asp-for="Estudiante.Id" class="form-control" />
      <span asp-validation-for="Estudiante.Id" class="text-danger"></span>
    </div>

    <!-- Etudiante Email -->
    <div class="form-group col-md-6">
      <label asp-for="Estudiante.Email" class="control-label"></label>
      <input asp-for="Estudiante.Email" class="form-control" />
      <span asp-validation-for="Estudiante.Email" class="text-danger"></span>
    </div>
  </div>

  <div class="form-row">

    <!-- Etudiante Nombre -->
    <div class="form-group col-md-4">
      <label asp-for="Estudiante.Nombre" class="control-label"></label>
      <input asp-for="Estudiante.Nombre" class="form-control" />
      <span asp-validation-for="Estudiante.Nombre" class="text-danger"></span>
    </div>

    <!-- Etudiante Apellido Paterno -->
    <div class="form-group col-md-4">
      <label asp-for="Estudiante.ApellidoPaterno" class="control-label"></label>
      <input asp-for="Estudiante.ApellidoPaterno" class="form-control" />
      <span asp-validation-for="Estudiante.ApellidoPaterno" class="text-danger"></span>
    </div>

    <!-- Etudiante Apellido Materno -->
    <div class="form-group col-md-4">
      <label asp-for="Estudiante.ApellidoMaterno" class="control-label"></label>
      <input asp-for="Estudiante.ApellidoMaterno" class="form-control" />
      <span asp-validation-for="Estudiante.ApellidoMaterno" class="text-danger"></span>
    </div>
  </div>

  <div class="form-row">

    <!-- Recinto -->
    <div class="form-group col-md-6">
      <label asp-for="Estudiante.RecintoId" class="control-label"></label>
      <div class="input-group mb-3">
        <select asp-for="Estudiante.RecintoId" class="custom-select form-control">
            <option disabled selected value="@null">Escoge...</option>
            @foreach (var item in Model.Recintos)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
      </div>
      <span asp-validation-for="Estudiante.RecintoId" class="text-danger"></span>
    </div>
  </div>

  <div class="text-center">
      <p class="text-center">
        Al seleccionar el botón de REGISTRAR, acceptas las reglas de la competencia, términos y condiciones de uso y política de privacidad. <br /> 
        Competencia organizada por la Universidad Interamericana de Puerto Rico, InterEmprende y auspiciada por Coca-Cola Puerto Rico Bottlers, Inc. 
      </p>
  </div>

  <div class="form-row mb-5">
      <div class="col-lg-9 col-md-8 col-sm-7 col-6"></div>
      
      <div class="form-group col-lg-3 col-md-4 col-sm-5 col-6">

        <!-- Rules Button -->
        <a type="button" href="~/pdf/MichaelCordova.pdf" target="_blank" class="btn btn-success text-white">
          Reglas
        </a>

        <!-- Submit Button -->
        <input type="submit" value="Registrar" class="btn btn-success" />  
      </div>
    </div>
</form>